---
layout: page
title: Comunidad Cristiana El Ancla - Smyrna, TN
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">
            COMPROMISO<br />COMUNION<br />COMISION
          </h1>
          <p class="animated fadeInUp">
            Una comunidad cristiana comprometido a la comision de Jesucristo.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">          
          {% include about.md %}
        </div>
      </div>
      <!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/aaron-burden-QJDzYT_K8Xg-unsplash.jpg" alt="Img" />
        </div>
      </div>
      <!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">{% include believe.md %}</div>
    </div>
  </div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Nuestro Proceso</h2>
        {% include process.md %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Compromiso</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>Comunion</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Comision</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">{% include story.md %}</div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div>{% include location.md %}</div>
    </div>
  </div>
</section>
